[package]
name = "wirc_server"
version = "0.1.0"
authors = ["willemml"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13"
oauth2 = "3.0"
rand = "0.7"
reqwest = { version = "0.10", features = ["json", "blocking"] }
serde = "1.0"
serde_json = "1.0"
sha2 = "0.9"
tokio = { version = "0.2", features = ["macros"] }
uuid = { version = "0.8", features = ["serde", "v4"] }
warp = "0.2"
rayon = "1.5"
